ttycorelinux egi:
    url: https://vmcaster.appdb.egi.eu/store/vappliance/tinycorelinux/image.list
    enabled: true
    endorser:
        dn: '/DC=EU/DC=EGI/C=NL/O=Hosts/O=EGI.eu/CN=appdb.egi.eu'
        ca: "/DC=ORG/DC=SEE-GRID/CN=SEE-GRID CA 2013"
    images: []

vo.fedcloud.egi.eu:
    url: https://vmcaster.appdb.egi.eu/store/vo/fedcloud.egi.eu/image.list
    enabled: true
    endorser:
        dn: '/DC=EU/DC=EGI/C=NL/O=Hosts/O=EGI.eu/CN=appdb.egi.eu'
        ca: "/DC=ORG/DC=SEE-GRID/CN=SEE-GRID CA 2013"
    token:
    images:
        - 662b0e71-3e21-5f43-b6a1-cc2f51319fa7
    prefix: "FEDCLOUD "
    project: bb02bda767b4490a82b2f62f9347a0f5

# Global Harbor configuration
harbor:
    api_url: "http://harbor.adress/api/v2.0"
    registry_host: "harbor.adress"
    prefix: "HARBOR "
    verify_ssl: true
    page_size: 30

# Harbor project configuration
harbor_project:
    type: "harbor"
    enabled: true
    project: "myproject"
    auth_user: "user"             
    auth_password: "password"
    images: []
    subscribed_images: []
    vos:
        - "vo_name"

foo:
    enabled: false

bar:
    enabled: false
